@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Oooooopps!</h1>
<h2 class="text-danger">This page doesn't exist.</h2>

<a asp-controller="Home" asp-action="Index" class="btn btn-warning">Go back to home</a>
