@model BookCave.Models.ViewModels.ProfileViewModel

@{
    ViewData["Title"] = "My profile";
}

<h1>My profile</h1>

<div class="container">
    <div class="col-md-3">
        <object class="img-resize-profile" data="https://cdn.pixabay.com/photo/2013/07/12/19/15/gangster-154425_960_720.png" type="image/png">
            <img class="img-resize-profile" src="@Model.Image" alt="@Model.Id">
        </object>
    </div>
    <a class="btn btn-warning" role="button" asp-controller="Account" asp-action="EditProfile">Edit profile</a>
    <div class="col-md-6">
        <div class="form-group">
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
        </div>
    </div>
</div>