@model BookCave.Models.ViewModels.HomeViewModel

@{
    ViewData["Title"] = "About us";
}

<div class="col-xs-12 col-md-7 col-md-offset-2">
    <div class="col-xs-12">
        <h2 class="text-center">About us</h2>
    </div>
    <div class="col-xs-12">
        <div class="col-md-offset-4">
            <img src="~/images/reading-jester.jpg" class="img-circle" alt="reading-jester" height="200" width="200">
        </div>
    </div>
    <p>
        BookCave is a website solution for a book store. We were assigned to make a website solution for a bookstore, learn what our customers are, how they would operate a website for books and then make a website with that in mind.
        Our goal was to make the website as simple as we could in looks and usability so every age group could easily visit our website and buy a book.
    </p> 
    <p>
        The descriptions and images of the books are not our property, we borrowed them
        as we did not have a server to store those images and couldn't have the time to write a description about every book as we don't know them.
    </p>
</div>
