@model BookCave.Models.ViewModels.HomeViewModel

@{
    ViewData["Title"] = "About us";
}

<div class="col-xs-7 col-xs-offset-2">
    <div class="col-xs-12">
        <h2 class="text-center">About us</h2>
    </div>
    <div class="col-xs-12">
        <div class="col-md-offset-4">
            <img src="~/images/reading-jester.jpg" alt="reading-jester" height="200" width="200">
        </div>
    </div>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin quam elit, porttitor tempor pharetra eget, pulvinar ac enim. In sapien massa, tincidunt ut consectetur tincidunt, tincidunt luctus ipsum. Phasellus consectetur feugiat eros, eget ullamcorper felis dignissim at. Vestibulum ut est augue. Nunc et turpis vitae eros lobortis placerat. Nulla nec nisi at dolor eleifend egestas vitae id elit. Mauris at eleifend sapien. Integer dapibus blandit risus ac molestie. Suspendisse consequat odio in neque gravida eleifend. Etiam eu ante quam. Proin lacus orci, placerat eu nibh eu, pretium pretium lacus. Fusce diam metus, ultricies sit amet scelerisque quis, ultrices sit amet nisl. Suspendisse imperdiet sed purus et posuere.</p>
    <p>Vestibulum imperdiet felis eget odio suscipit, vel bibendum nulla dictum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In hac habitasse platea dictumst. Aliquam mattis et urna et bibendum. Sed elementum viverra est, vitae auctor magna maximus sit amet. Nunc ultricies lobortis ullamcorper. Nunc sed mattis nunc, ut vehicula lacus. Morbi odio mauris, egestas vel tincidunt quis, vestibulum non massa. Fusce urna ex, vehicula id arcu sed, gravida lobortis dui. Sed tincidunt nulla sit amet diam cursus, non dapibus felis dignissim. Cras dignissim feugiat leo eu aliquet. Sed porttitor posuere vestibulum. Vivamus egestas mi id sem auctor hendrerit. Vivamus fermentum orci vel neque egestas vehicula.</p>
    <p>Suspendisse et purus sed arcu posuere sodales. Vestibulum posuere tincidunt dapibus. Nullam accumsan eleifend lacinia. Vestibulum ut nunc imperdiet, congue orci eget, laoreet ex. Curabitur nec fermentum quam, vitae rhoncus ipsum. Morbi auctor nec mauris a iaculis. Aliquam erat volutpat. </p>
</div>
