@model BookCave.Models.InputModels.ReviewInputModel


@{
    ViewData["Title"] = "Add review";
}

<div>
    <form asp-controller="Home" asp-action="AddReview">
        <textarea asp-for="@Model.Comment" cols="30" rows="10"></textarea>
        <ul class="rating">
            <li>
                <span class="ratingSelector">
                <input type="radio" name="ratings[1]" id="star1" value="1" class="radio"/>
                <label class="full" for="star1"></label>
                <input type="radio" name="ratings[1]" id="star2" value="2" class="radio"/>
                <label class="full" for="star2"></label>
                <input type="radio" name="ratings[1]" id="star3" value="3" class="radio"/>
                <label class="full" for="star3"></label>
                <input type="radio" name="ratings[1]" id="star4" value="4" class="radio"/>
                <label class="full" for="star4"></label>
                <input type="radio" name="ratings[1]" id="star5" value="5" class="radio"/>
                <label class="full" for="star5"></label>
                </span>
            </li>
        </ul>
        <button type="submit" class="btn btn-warning">
        <span class="glyphicon glyphicon-ok"></span> Write a review</button>
    </form>
</div>