@model List<BookCave.Models.ViewModels.ReviewViewModel>


@{
    ViewData["Title"] = "Reviews";
}


<div class="col-xs-12" id="bookDetails">
@foreach(var review in Model)
{
    <div class="container">
        <h2>Name</h2>
        <div class="panel panel-default">
            <div class="panel-heading">Rating: @review.Rating</div>
            <div class="panel-body">@review.Comment</div>
        </div>
    </div>
}
</div>
