@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
  <h1>Hello, world!</h1>
  <p>#VelGertAlex</p>
  <p><a class="btn btn-primary btn-lg" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" role="button">Learn more</a></p>
</div>