@model BookCave.Models.ViewModels.CartViewModel

@{
    ViewData["Title"] = "Cart";
}

<div>
    <table>
        <tr>
            <th>Current cart</th>
            <th>            </th>
            <th>            </th>
        </tr>
        <tr>
            <td>@Model.</td>
            <td></td>
            <td></td>                        
        </tr>
    </table>
</div>