@{
    ViewData["Title"] = "Cart";
}
<h1>Thank you for your purchase</h1>
<p>An email has been sent to: @ViewData["Email"] with details about the order</p>
<a asp-controller="Home" asp-action="Index" class="btn btn-warning">Go to HomePage</a>