body
{
    background-color: #fffce4;
}

a
{
    color: black;
    text-decoration: none;
}

a:hover
{
    color: rgb(92, 92, 92);
    text-decoration: underline;
}

.stars-outer
{
    display: inline-block;
    position: relative;
    font-family: FontAwesome;
}
   
.stars-outer::before 
{
    content: "\f006 \f006 \f006 \f006 \f006";
}
   
.stars-inner
{
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
}
   
.stars-inner::before
{
    content: "\f005 \f005 \f005 \f005 \f005";
    color: #f8ce0b;
}

.ratings
{
    text-indent: -9999px;
}

.fieldset
{
    width: 50%;
    height: 450px;
}

.right-border
{
    border-right: 2px;
    border-style: solid;
    border-color: black;
}

::-webkit-scrollbar 
{
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track 
{
    box-shadow: inset 0 0 5px grey; 
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb
{
    background: #F0AD4E; 
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover 
{
    background: #DE9226; 
}

.horizontalscroll
{
    display: flex;
    align-items: stretch;
    background-color: #fff;
    min-width: 100%;
    min-height: 300px;
    overflow-x: auto;
}

.thumbnail 
{
    min-width: 200px;
    height: 350px;
    margin: 5px;
}

.img-resize
{
    max-height: 200px;
    min-height: 200px;
}

.img-resize-profile
{
    margin: auto;
    border-radius: 50%;
    max-height: 200px;
    max-width: 200px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.book-title
{
    height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.name-fix
{
    margin-bottom: 0px;
}

.filter-search
{
    height: 200px;
    padding: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: white;
    box-shadow: 6px 6px 1px 1px grey;
    border: 1px solid black;
}

@media (min-width:979px)
{
    .filter-search
    {
      position:fixed;
      width: 250px;
    }
  }

.searcher
{
    padding: 10px;
}

.info-dropdown-content
{
    visibility: hidden;
    position: relative;
    background-color: #f9f9f9;
    border-radius: 25px;
    max-width: 350px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
}

#info-dropdown:hover .info-dropdown-content
{
    visibility:  visible;
}

.footer
{
    background-color: rgb(34, 34, 34);
    color: rgb(157, 157, 157);
    width: 100%;
    height: 100px;
    width: 100%;
}

.footer a
{
    color: rgb(157, 157, 157);
}

#imageDetails
{
    margin-top: 15px;
}

#rateStar
{
    margin-bottom: 12px;
}

#Profile
{
    margin-top: 30px;
    margin-bottom: 30px;
    outline-style: solid;
    outline-width: 1px;
    outline-color: #a94442;
    border-style: solid;
    border-color: #ebccd1;
    background-color: #fff;
}

.panel
{
    margin-top: 30px;
}

.panel-heading
{
    padding: 5px 5px 0 5px;
}

.tab-content
{
    max-height: 250px;
    overflow-y: auto;
}

.nav-tabs
{
    border-bottom: none;
}

.nav-tabs > li > a,
.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus
{
    color: #a94442;
}

.nav-tabs > .open > a,
.nav-tabs > .open > a:hover,
.nav-tabs > .open > a:focus,
.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus
{
    color: #a94442;
    background-color: #ebccd1;
    border-color: transparent;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus
{
    color: #a94442;
    background-color: #fff;
    border-color: #ebccd1;
    border-bottom-color: transparent;
}

#btn-Profile
{
    margin-bottom: 10px;
}

.cart-image
{
    max-width: 100px;
    min-height: 150px;
    max-height: 150px;
}
.cart-item
{
    background-color: grey;
    width: 100%;
    margin-bottom: 10px;
}
.cart-price
{
    display: flex;

}
.cart-price-aligner
{
    align-self: flex-end;
}

@media (min-width:979px)
{
    .add-quantity
    {
        margin-bottom: 40%;
    }
}

.the-price
{
    margin-bottom: 0px;
}

#review-name
{
    display: inline;
}
.rating input {
    display: none;
}
.rating label:before {
    margin: 5px;
    font-size: 1.25em;
    font-family: FontAwesome;
    display: inline-block;
    content:"\f005";
}
li {
    list-style:none;
}

.ratingSelector input + label {
    color: #FFD700;
}
.ratingSelector input:checked ~ input:not(:checked) ~ label {
    color: #ddd;
}
.ratingSelector input:checked ~ input:not(:checked) + label:hover ~ label {
    color: #ddd;
}
.ratingSelector:hover input + label,
.ratingSelector:hover input:checked + label {
    color: #FFED85;
}
.ratingSelector:hover input:checked ~ input:not(:checked) ~ label:hover,
.ratingSelector:hover input:checked ~ input:not(:checked) + label {
    color: #FFD700;
}
.ratingSelector:hover input:checked ~ input:not(:checked) ~ label:hover ~ label {
    color: #ddd !important;
}
.ratingSelector input + label:hover ~ label {
    color: #ddd !important;
}
